.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9;
}

.heading {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: xx-large;
    font-style: italic;
    color: white;
    margin-bottom: 20px;
}

.header .text {
    color: white;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.8); /* Translucent white background */
    border-radius: 15px; /* Rounded corners */
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow for elevation */
    width: 300px;
    text-align: center;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.input img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    object-fit: contain;
}

.input input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    color: #333;
}

.options {
    margin: 10px 0;
}

.already-account {
    font-size: 14px;
    color: #333;
}

.already-account a {
    color: #007BFF;
    text-decoration: none;
}

.already-account a:hover {
    text-decoration: underline;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.active {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

button.inactive {
    background-color: #ddd;
    color: #333;
}

button.inactive:hover {
    background-color: #bbb;
}
